* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #0e0b16;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #e7dfdd;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.navbar a {
    font-size: 18px;
    color: #e7dfdd;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.active,
.navbar a:hover {
    background: chocolate;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    /* background-color: #fcba12; */
}

.home_content {
    max-width: 600px;
}

.home_content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #e7dfdd;
}

.home_content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ad7d1f;
}

.home_content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

/* =============About============= */
.about {
    width: 100%;
    background-color: #a239ca;
}

.about img {
    width: 300;
}

.about_text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

.about_text h2 {
    color: #0e0b16;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about_text h5 {
    color: #e7dfdd;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about_text p {
    color: #e7dfdd;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 45px;
}

.bio {
    width: 100%;
    padding: 50px 0px;
}

.title h2 {
    color: #a239ca;
    font-size: 50px;
    width: 1100px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.biodata {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #e7dfdd;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.biodata ul li {
    list-style: none;
    margin: 5px 0;
}

.biodata i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #4717f6;
}

h5 {
    color: #a239ca;
    font-size: 23px;
    margin-bottom: 15px;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #a239ca;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.home_sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home_sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #a239ca;
    border-radius: 50%;
    font-size: 20px;
    color: #a239ca;
    text-decoration: none;
    overflow: hidden;
    transition: .2s;
}

.home_sci a:hover {
    color: #e7dfdd;
}

/* Ganti warna */
.home_sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #a239ca ;
    z-index: -1;
    transition: .2s;
}

.home_sci a:hover::before {
    width: 100%;
}
